<div class="d-flex justify-content-center align-items-center flex-column" style=" height: 500px;">
  <div class="d-flex justify-content-center align-items-center mb-3">
    <div class="contacts">
      <h1>Contact Info</h1>
      <h3>+37128005788</h3>
      <a href="mailto:emilbabazade29@gmail.com" class="link">
        <h3>emilbabazade29@gmail.com</h3>
      </a>
      <a href="https://www.linkedin.com/in/emil-babazade-53ab86150/" class="link" target="_blank">
        <h3>LinkedIn</h3>
      </a>
    </div>
  </div>
</div>
