.icon {
  color: white;
}

.content-box {
  padding: 40px;
  background: purple;
  margin: 106px;
}

.icons {
  flex-direction: column;
}

@media only screen and (max-width: 900px) {
  .content-box {
    flex-direction: column;
    margin: 20px;
  }

  .icons {
    flex-direction: row;
  }

  .icons a {
    margin: 10px;
  }
}
