<div class="content-box d-flex justify-content-between">
  <div class="d-flex flex-column col-4">
    <h1>{{name}}</h1>
    <p *ngIf="startDate && endDate">{{startDate}} - {{endDate}}</p>
    <p *ngIf="startDate && !endDate">{{startDate}} - Hal Hazıradək</p>
    <p *ngIf="onlyDate">{{onlyDate}}</p>
    <h3 *ngIf="skills">Vəzifələr: {{skills}}</h3>
  </div>
  <h4 class="col-7 body">
    {{content || ''}}
    <ul *ngIf="list">
      <li *ngFor="let item of list">
        {{item.content}}
        <ul *ngIf="item.children">
          <li *ngFor="let child of item.children">{{child}}</li>
        </ul>
      </li>
    </ul>
  </h4>
  <div class="d-flex icons col-1" *ngIf="url || source || fileUrl">
    <a target="_blank" href="{{url}}" class="icon">
      <fa-icon [icon]="faGlobe" *ngIf="url"></fa-icon>
    </a>
    <a target="_blank" href="{{source}}" class="icon">
      <fa-icon [icon]="faGithub" *ngIf="source"></fa-icon>
    </a>
    <a class="icon pointer" (click)="downloadFile()">
      <fa-icon [icon]="faFileArrowDown" *ngIf="fileUrl"></fa-icon>
    </a>
  </div>
</div>
