<div class="d-flex justify-content-around align-items-center">
  <img src="../../assets/profile.jpg" class="profile-pic col-6">
  <div class="col-6">
    <h1>{{text?.heading}}</h1>
    <p>
      {{text?.details![0]}}
      <br>
      {{text?.details![1]}}
      <br>
      {{text?.details![2]}}
      <br>
      {{text?.details![3]}}
    </p>
    <h3>{{text?.skillsHeading}}:</h3>
    <p>{{text?.skills!.join(',')}}.</p>
    <h3>{{text?.languagesHeading}}:</h3>
    <p>{{text?.languages!.join(',')}}.</p>
    <button class="download-btn" (click)="downloadFile()">
      {{text?.cvButton}}
    </button>
  </div>
</div>
