<div class="d-flex justify-content-around align-items-center">
  <img src="../../assets/profile.jpeg" class="profile-pic col-6">
  <div class="col-6">
    <h1>Hi, I am Emil Babazade.</h1>
    <p>
      I am a fullstack .Net and Angular Developer. Programming is my job and main hobby at the same. I don't only create
      web sites but also mobile apps, games, or whatever that seems interesting.
    </p>
    <h3>Skills</h3>
    <p>JS, TS, C#, .NET, Angular, JQuery, Flutter, TSQL, OpenSQL, SQLite, ABAPSQL, ABAP, GIT, Scrum, Agile,
      OOP, HTML, CSS, SCSS, PHP, Laravel, MySQL
    </p>
    <button class="download-btn" (click)="downloadFile()">CV</button>
  </div>
</div>
