<div class="d-flex justify-content-around align-items-center">
  <img src="../../assets/profile.jfif" class="profile-pic col-6">
  <div class="col-6">
    <h1>Salam, Mən İslam Babayevəm.</h1>
    <p>
      Mən 20 ildən çox təcrübəsi olan bit mühasibatam.
    </p>
    <h3>Əsas Bacarıqlar:</h3>
    <p>MS Word, MS Excel, MS Power Point, MS Outlook, Günəş maliyyə proqramı, Maliyyə menecmenti, Beynalaxalq Maliyyə
      Hesabatları Standardları.</p>
    <h3>Dil Bacarıqları:</h3>
    <p>Azərbaycan dili, Rus dili, Türk dili, Ingilis dili.</p>
    <button class="download-btn" (click)="downloadFile()">CV</button>
  </div>
</div>
